####GuessNumberLibrary###

GuessNumberLibrary/bin/*
GuessNumberLibrary/obj/*
GuessNumberLibrary/.vs

###GuessNumber##

/GuessNumber/bin/*
/GuessNumber/obj/*
/GuessNumber/.vs/*
/GuessNumber/TestResults/*
/GuessNumber/packages/*

###GuessNumberLibraryTest###

/GuessNumberLibraryTest/bin/*
/GuessNumberLibraryTest/obj/*

packages/*
TestResults/*
.git/*
.vs/*
#*.sln
